/* styles for mishal toggle */

.custom_viewerwrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0.62rem auto 0.22rem auto;
    padding: 2px;
    border-radius: 6px;
    /* border: 0.7px solid gray; */
    /* background-color: #565656e3; */
}

.custom_viewerwrapper > div {
    padding: 14px 1rem;
    margin: 0 1px;
    text-align: center;
    text-transform: capitalize;
    font-size: smaller;
    font-weight: 700;
    width: 100%;
    border-radius: 6px;
}

.active_tab {
    color: #fff;
    background-color: #201f1fd2;
}

.normal_tab {
    color: #000;
    background-color: #fff;
}
