/* styles for stats page */

.graphbar {
    position: relative;
    color: #000;
    border-radius: 0.75rem;
    padding: 5px 12px;
    font-size: 12px;
    text-transform: capitalize;
    /* background-color: #fff; */
}

.graphbar_name {
    position:absolute;
    color: white;
    font-weight: 500;
    left: 0;
    top: 12px;
}


.expense_viewerwrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0.62rem auto 0.22rem auto;
    padding: 2px;
    border-radius: 6px;
    /* border: 0.7px solid gray; */
    /* background-color: #565656e3; */
}

.expense_viewerwrapper > div {
    background-color: #201f1fd2;
    color: #fff;
    padding: 14px 1rem;
    margin: 0 1px;
    text-align: center;
    text-transform: capitalize;
    font-size: smaller;
    font-weight: 700;
    width: 100%;
    border-radius: 6px;
}

div.active_tab {
    color: #000;
    background-color: #fff;
}