/* styles for income page */

.expense_card {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.2rem 2rem;
    margin: 0.6rem auto;
    border-radius: 14px;
    box-shadow: 0 4px 10px -1px rgba(0,0,0,0.1), 0 2px 6px -2px rgba(0,0,0,0.2);
}

.expense_viewerwrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0.62rem auto 0.82rem auto;
    padding: 2px;
    border-radius: 6px;
    /* border: 0.7px solid gray; */
    /* background-color: #565656e3; */
}

.expense_viewerwrapper > div {
    background-color: #201f1fd2;
    color: #fff;
    padding: 14px 1rem;
    margin: 0 1px;
    text-align: center;
    text-transform: capitalize;
    font-size: smaller;
    font-weight: 700;
    width: 100%;
    border-radius: 6px;
}

div.active_tab {
    color: #000;
    background-color: #fff;
}